.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0px;
}
.header{
  background-color: #192a56;
  padding: 17px;
  color: #fff;
  font-size: 20px;
  width: 100%;
}
.form{
  margin: 20px;
}

.data{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.data_val{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 6px 14px 6px 14px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}