.App {
  text-align: center;
}
h1{
  margin: 0px;
}
.memo{
  padding: 15px;
  background-color: blueviolet;
  color: white;
}
button{
  padding: 8px;
  background-color: pink;
  width: 150px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
input{
  border: 4px solid blueviolet;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}