.App {
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(63, 26, 97);
  font-size: 25px;
  padding: 8px;
}
h1{
  margin: 0px;
  color: white;
}
.header>h1{
  cursor: pointer;
}
.data{
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  margin-top: 10px;
}
.btn{
  padding: 10px;
  width: 160px;
  border-radius: 8px;
  background-color: rgb(216, 89, 110);
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
}

